@media (max-width: 755px) {
    .main-input {
        flex-direction: column;
        gap: 30px;
        max-width: 100%;
    }
    .inputX {
        border-radius: 54px;
    }
    .button {
        border-radius: 200px;
        width: 200px;
        text-align: center;
    }
}
@media (max-width: 640px) {
    .inputX {
        width: 80%;
        padding-right: 30px;
        font-size: 15px;
    }
}
@media (max-width: 550px) {
    .nameLab h1 {
        font-size: 35px;
    }
    .nameLab h2 {
        font-size: 26px;
    }
    .nameLab p {
        font-size: 20px;
        text-align: center;
        max-width: 190px;
    }
}
@media (max-width: 350px) {

}